@model PortfolioApp.Models.AssetModel
@Html.BeginForm("AddAsset", "User", FormMethod.Post)
{
@Html.ValidationSummary()
<p>co chcesz dodac  @Html.TextBoxFor(x => x.AssetCode)</p>
<p>podaj ilosc @Html.TextBoxFor(x => x.Ammount, new { type = "number" })</p>
<p>podaj rodzaj @Html.TextBoxFor(x => x.TypeOfAsset)</p>
<button type="submit">Dodaj</button>
}