@model PortfolioApp.Models.LoginModel;
<html>
	<head>
	<title>Login In!</title>
	<link rel="stylesheet" type="text/css" href="/css/LoginAndRegisterStyle.css" />
	</head>
	<body>

	<div id="RedirectDiv">
	@Html.ActionLink("Sign Up", "Register", "Account",null, new { @class = "Button-Redirect" })
	</div>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
	<div class="logincontainer">
		@Html.ValidationSummary()
			<div class="validation-errors">
				@if (ViewBag.Error != null)
				{
					<p>@ViewBag.Error</p>
				}
			</div>
		<p class="textarealogin">Username: <br />@Html.TextBoxFor(x => x.UserName)</p>
		<p class="textarealogin">Password: <br />@Html.PasswordFor(x => x.Password)</p>
		<p><button class="button" type="submit">Login In</button></p>
	</div>
}
</body>
</html>