@model PortfolioApp.Models.RegisterModel
<html>
    <head>
    <title>Sign up!</title>
    <link rel="stylesheet" type="text/css" href="/css/LoginAndRegisterStyle.css"/>
    </head>
    <body>
      <div id="RedirectDiv">
    @Html.ActionLink("Login In", "Login", "Account",null,new {@class = "Button-Redirect"})
    </div>
@using (Html.BeginForm("register", "Account", FormMethod.Post))
{
    <div class="logincontainer">
        @Html.ValidationSummary()
            <div class="validation-errors">
                @if (ViewBag.Error != null)
                {
                    <p>@ViewBag.Error</p>
                }
            </div>
        <p class="textarealogin">Username: <br> @Html.TextBoxFor(x => x.UserName)</p>

        <p class="textarealogin"> Email Adress:<br> @Html.TextBoxFor(x => x.EmailAdress)</p>

        <p class="textarealogin"> Password:<br> @Html.PasswordFor(x => x.Password)</p>
            <p><button class="button" type="submit">Sign up</button></p>
    </div>

}
</body>
</html>