@page "/AddAsset"
@rendermode InteractiveServer
@attribute [Authorize]
@inject IApiService _ApiService;
@inject IDbService _DbService;
@inject IUserService _userService;
@inject HttpClient _httpClient;

@using Microsoft.AspNetCore.Antiforgery
@using Microsoft.AspNetCore.Authorization
@using Newtonsoft.Json
@using PortfolioApp.Components.Services.Interfaces
@using PortfolioApp.Models;
@using PortfolioApp.Services.Interfaces

<head>
	<link rel="stylesheet" type="text/css" href="/css/AddStyle.css" />
	<title>Add Asset</title>
</head>
<body>
	<div id="form">
		<EditForm Model="@model" OnSubmit="@AddAssetfunc">
		
		<InputHidden Value="@model.UserId" />
		<InputHidden Value="@model.User" />
		<InputHidden Value="@model.id" />



			Wybierz rodzaj<InputSelect class="SelectClass" @bind-Value="model.TypeOfAsset" @onchange="UpdateSelectedType">
		<option class="optionClass" value="">Wybierz...</option>
		<option class="optionClass" value="Metal">Metal</option>
		<option class="optionClass" value="Currency">Currency</option>
		<option class="optionClass" value="CryptoCurrency">CryptoCurrency</option>
		</InputSelect>
	<br />
		Co chcesz dodać<InputSelect class="SelectClass" @bind-Value="model.AssetCode">
		<option class="option Class" value="">Wybierz...</option>
		@if (Dict != null && Dict.Count > 0)
		{
			@foreach (var option in Dict)
			{
				<option class="optionClass" value=@option.Key>@option.Value</option>
			}
		}
	</InputSelect>
	  
	<br />
	@if (selectedType == "Metal")
	{
		<laber for="Metal">ile uncji chcesz dodac</laber>
		<InputNumber id="Metal" min="0"  @bind-Value="model.Ammount" />
	}
	else
	{
		<laber for="Other">ile uncji chcesz dodac</laber>
		<InputNumber id="Other" min="0" @bind-Value="model.Ammount" />
	}	
	<br />
	<button type="submit">Dodaj</button>
	<p id="Message">@AddingMessage</p>
	
</EditForm>
	</div>
	<button @onclick="TEST">Test</button>
</body>
@code {
	public Dictionary<string, string> MetalDict;
	public Dictionary<string, string> CurrencyDict;
	public Dictionary<string, string> CryptoCurrencyDict;
	public AssetModel model = new AssetModel();
	public string selectedType = string.Empty;
	public Dictionary<string, string> Dict;
	public string AddingMessage = "";



	protected override async Task OnInitializedAsync()
	{
		MetalDict = await _ApiService.GetMetalDict();

		CurrencyDict = await _ApiService.GetCurrencyDict();

		CryptoCurrencyDict = await _ApiService.GetCryptoCurrencyDict();


		Dictionary<string, string> AllAssetsDict = CurrencyDict
			.Concat(MetalDict)
			.Concat(CryptoCurrencyDict)
			.ToDictionary(pair => pair.Key, pair => pair.Value);
		Dict = AllAssetsDict;
		Console.WriteLine("dziala");
	}
	private async Task TEST()
	{
		AddingMessage = "dziala";
		await Task.CompletedTask;
	}
	public async Task UpdateSelectedType(ChangeEventArgs Event)
	{
		Console.WriteLine("dziala");
		selectedType = Event.Value?.ToString();
		if (selectedType == "Currency")
		{
			Dict = CurrencyDict;
			Console.WriteLine(selectedType);
		}
		else if (selectedType == "Metal")
		{
			Dict = MetalDict;
			Console.WriteLine(selectedType);
		}
		else if (selectedType == "CryptoCurrency")
		{
			Dict = CryptoCurrencyDict;
			Console.WriteLine(selectedType);
		}
		StateHasChanged();
	}

	public async Task AddAssetfunc()
	{

		if(!string.IsNullOrEmpty(model.AssetCode) && !string.IsNullOrEmpty(model.TypeOfAsset) && model.Ammount !=0)
		{
			try
			{
			
				var User = await _userService.GetLoggedUser();
				model.UserId = User.Id;
				Console.WriteLine("Przed dodaniem do bazy danych");
				await _DbService.AddAssetToDb(model);
				Console.WriteLine("po dodaniu");
				await ChangeMessage($"pomyslnie dodano {Dict[model.AssetCode]} w ilosci {model.Ammount}");
			}
			catch (Exception ex)
			{
				await ChangeMessage($"blad {ex}");

			}
		}else
		{
			await ChangeMessage("wprowadz dane");
		}

	}
	public async Task ChangeMessage(string Message)
	{
		AddingMessage = Message;
		StateHasChanged();
		await Task.Delay(5000);
		StateHasChanged();
		AddingMessage = "";
	}
	
}
